In [1]:
import pandas as pd

In [2]:
# read the CDS file
cdsdata = pd.read_csv('cds_spread.csv')

cdsdata['year'] = pd.DatetimeIndex(cdsdata['mdate']).year
cdsdata['month'] = pd.DatetimeIndex(cdsdata['mdate']).month
cdsdata.head(5)

,Unnamed: 0,gvkey,mdate,redcode,tier,ticker,shortname,docclause,spread5y,impliedrating,year,month
0,0,1038,2004-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,MR,0.042000,BB,2004,8
1,1,1038,2005-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034000,BB,2005,8
2,2,1038,2005-09-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034000,BB,2005,9
3,3,1038,2005-10-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034001,BB,2005,10
4,4,1038,2005-11-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034001,BB,2005,11

In [3]:
# This section is to get the gvkey in CDS data so that I can download these firms' F/S from WRDS
output = set(cdsdata.loc[:,'gvkey'])

#print(output, file=open("output.txt", "a"))
with open('output.txt', 'w') as f:
    for item in output:
        f.write("%s\n" % item)

In [6]:
import numpy as np
CRSPdata = pd.read_csv('Quarterly Merged CRSP-Compustat.csv')
CRSPdata.columns = map(str.lower, CRSPdata.columns)


CRSPdata['year'] = pd.DatetimeIndex(CRSPdata['datadate']).year
CRSPdata['month'] = pd.DatetimeIndex(CRSPdata['datadate']).month

CRSPdata['quarter'] = np.where( CRSPdata['month'].isin([1,2,3]), 'Quarter1', '')
CRSPdata['quarter'] = np.where( CRSPdata['month'].isin([4,5,6]), 'Quarter2', CRSPdata['quarter'])
CRSPdata['quarter'] = np.where( CRSPdata['month'].isin([7,8,9]), 'Quarter3', CRSPdata['quarter'])
CRSPdata['quarter'] = np.where( CRSPdata['month'].isin([10,11,12]), 'Quarter4', CRSPdata['quarter'])
CRSPdata['match_period'] = CRSPdata['year'].astype(str) + CRSPdata['quarter'].astype(str)

CRSPdata.head(5)

,gvkey,linkprim,liid,linktype,lpermno,lpermco,linkdt,linkenddt,datadate,fyearq,...,spcsrc,state,stko,weburl,dldte,ipodate,year,month,quarter,match_period
0,1038,P,1,LU,66413,6301,19830818,20041231,20000331,1999,...,NaN,MO,0.0,www.amctheatres.com,20041227.0,NaN,1970,1,Quarter1,1970Quarter1
1,1038,P,1,LU,66413,6301,19830818,20041231,20000630,2000,...,NaN,MO,0.0,www.amctheatres.com,20041227.0,NaN,1970,1,Quarter1,1970Quarter1
2,1038,P,1,LU,66413,6301,19830818,20041231,20000930,2000,...,NaN,MO,0.0,www.amctheatres.com,20041227.0,NaN,1970,1,Quarter1,1970Quarter1
3,1038,P,1,LU,66413,6301,19830818,20041231,20001231,2000,...,NaN,MO,0.0,www.amctheatres.com,20041227.0,NaN,1970,1,Quarter1,1970Quarter1
4,1038,P,1,LU,66413,6301,19830818,20041231,20010331,2000,...,NaN,MO,0.0,www.amctheatres.com,20041227.0,NaN,1970,1,Quarter1,1970Quarter1

In [13]:
data1 = CRSPdata[['gvkey','month']]
data1 = data1.drop_duplicates(subset='gvkey', keep='first')

s1 = data1.loc[data1['month'].isin([1,4,7,10])]
s2 = data1.loc[data1['month'].isin([2,5,8,11])]
s3 = data1.loc[data1['month'].isin([3,6,9,12])]

t1 = s1['gvkey'].tolist()
t2 = s2['gvkey'].tolist()
t3 = s3['gvkey'].tolist()
t4 = CRSPdata['gvkey'].unique().tolist()

In [10]:
cdsdata1 = pd.read_csv('cds_spread.csv')

cdsdata1['year'] = pd.DatetimeIndex(cdsdata1['mdate']).year
cdsdata1['month'] = pd.DatetimeIndex(cdsdata1['mdate']).month
cdsdata1.head(5)

,Unnamed: 0,gvkey,mdate,redcode,tier,ticker,shortname,docclause,spread5y,impliedrating,year,month
0,0,1038,2004-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,MR,0.042000,BB,2004,8
1,1,1038,2005-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034000,BB,2005,8
2,2,1038,2005-09-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034000,BB,2005,9
3,3,1038,2005-10-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034001,BB,2005,10
4,4,1038,2005-11-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034001,BB,2005,11

In [14]:
df2 = cdsdata[cdsdata['gvkey'].isin(t1)].reset_index() 
df3 = cdsdata[cdsdata['gvkey'].isin(t2)].reset_index() 
df4 = cdsdata[cdsdata['gvkey'].isin(t3)].reset_index() 
df5 = cdsdata[~cdsdata['gvkey'].isin(t4)].reset_index() 
df2['quarter'] = np.where( df2['month'].isin([1,2,3]), 'Quarter1', '')
df2['quarter'] = np.where( df2['month'].isin([4,5,6]), 'Quarter2', df2['quarter'])
df2['quarter'] = np.where( df2['month'].isin([7,8,9]), 'Quarter3', df2['quarter'])
df2['quarter'] = np.where( df2['month'].isin([10,11,12]), 'Quarter4', df2['quarter'])
df2['match_period'] = df2['year'].astype(str) + df2['quarter']
df2_merged = pd.merge(df2, CRSPdata, on=['gvkey','match_period'], how='left')
df2_merged.head(3)

,index,Unnamed: 0,gvkey,mdate,redcode,tier,ticker,shortname,docclause,spread5y,...,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate,year_y,month_y,quarter_y
0,0,0,1038,2004-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,MR,0.042,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,1038,2005-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,1038,2005-09-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df3['quarter'] = np.where( df3['month'].isin([1,2,3]), 'Quarter1', '')
df3['quarter'] = np.where( df3['month'].isin([4,5,6]), 'Quarter2', df3['quarter'])
df3['quarter'] = np.where( df3['month'].isin([7,8,9]), 'Quarter3', df3['quarter'])
df3['quarter'] = np.where( df3['month'].isin([10,11,12]), 'Quarter4', df3['quarter'])
df3['match_period'] = df3['year'].astype(str) + df3['quarter']
df3_merged = pd.merge(df3, CRSPdata, on=['gvkey','match_period'], how='left')
df3_merged.head(3)

Empty DataFrame
Columns: [index, Unnamed: 0, mdate, redcode, tier, ticker, shortname, docclause, spread5y, impliedrating, year_x, month_x, quarter_x, gvkey, linkprim, liid, linktype, lpermno, lpermco, linkdt, linkenddt, datadate, fyearq, fqtr, fyr, indfmt, consol, popsrc, datafmt, tic, cusip, conm, acctchgq, acctstdq, adrrq, ajexq, ajpq, bsprq, compstq, curcdq, curncdq, currtrq, curuscnq, datacqtr, datafqtr, finalq, ogmq, rp, scfq, srcq, staltq, updq, apdedateq, fdateq, pdateq, rdq, acchgq, acomincq, acoq, actq, altoq, ancq, anoq, aociderglq, aociotherq, aocipenq, aocisecglq, aol2q, aoq, apq, aqaq, aqdq, aqepsq, aqpl1q, aqpq, arcedq, arceepsq, arceq, atq, aul3q, billexceq, capr1q, capr2q, capr3q, capsftq, capsq, ceiexbillq, ceqq, cheq, chq, cibegniq, cicurrq, ciderglq, cimiiq, ciotherq, cipenq, ciq, cisecglq, citotalq, cogsq, ...]
Index: []

[0 rows x 704 columns]

In [16]:
df4['quarter'] = np.where( df4['month'].isin([1,2,3]), 'Quarter1', '')
df4['quarter'] = np.where( df4['month'].isin([4,5,6]), 'Quarter2', df4['quarter'])
df4['quarter'] = np.where( df4['month'].isin([7,8,9]), 'Quarter3', df4['quarter'])
df4['quarter'] = np.where( df4['month'].isin([10,11,12]), 'Quarter4', df4['quarter'])
df4['match_period'] = df4['year'].astype(str) + df4['quarter']
df4_merged = pd.merge(df4, CRSPdata, on=['gvkey','match_period'], how='left')
df4_merged.head(3)

Empty DataFrame
Columns: [index, Unnamed: 0, mdate, redcode, tier, ticker, shortname, docclause, spread5y, impliedrating, year_x, month_x, quarter_x, gvkey, linkprim, liid, linktype, lpermno, lpermco, linkdt, linkenddt, datadate, fyearq, fqtr, fyr, indfmt, consol, popsrc, datafmt, tic, cusip, conm, acctchgq, acctstdq, adrrq, ajexq, ajpq, bsprq, compstq, curcdq, curncdq, currtrq, curuscnq, datacqtr, datafqtr, finalq, ogmq, rp, scfq, srcq, staltq, updq, apdedateq, fdateq, pdateq, rdq, acchgq, acomincq, acoq, actq, altoq, ancq, anoq, aociderglq, aociotherq, aocipenq, aocisecglq, aol2q, aoq, apq, aqaq, aqdq, aqepsq, aqpl1q, aqpq, arcedq, arceepsq, arceq, atq, aul3q, billexceq, capr1q, capr2q, capr3q, capsftq, capsq, ceiexbillq, ceqq, cheq, chq, cibegniq, cicurrq, ciderglq, cimiiq, ciotherq, cipenq, ciq, cisecglq, citotalq, cogsq, ...]
Index: []

[0 rows x 704 columns]

In [17]:
df5['quarter'] = np.where( df5['month'].isin([1,2,3]), 'Quarter1', '')
df5['quarter'] = np.where( df5['month'].isin([4,5,6]), 'Quarter2', df5['quarter'])
df5['quarter'] = np.where( df5['month'].isin([7,8,9]), 'Quarter3', df5['quarter'])
df5['quarter'] = np.where( df5['month'].isin([10,11,12]), 'Quarter4', df5['quarter'])
df5['match_period'] = df5['year'].astype(str) + df5['quarter']
df5_merged = pd.merge(df5, CRSPdata, on=['gvkey','match_period'], how='left')
df5_merged.head(3)

,index,Unnamed: 0,gvkey,mdate,redcode,tier,ticker,shortname,docclause,spread5y,...,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate,year_y,month_y,quarter_y
0,1241,1241,1225,2004-12-31,0B13CB,SNRFOR,SO-ALPower,AL Pwr Co,MR,0.00165,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1242,1242,1225,2005-01-31,0B13CB,SNRFOR,SO-ALPower,AL Pwr Co,MR,0.00165,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1243,1243,1225,2005-02-28,0B13CB,SNRFOR,SO-ALPower,AL Pwr Co,MR,0.00165,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
data2 = pd.concat([df2_merged, df3_merged, df4_merged, df5_merged], ignore_index=True)

data2 = data2.drop(['index','Unnamed: 0','year_y','month_y','quarter_y','year_x','month_x','quarter_x','match_period'],axis=1)
data2

,acchgq,acchgy,acctchgq,acctstdq,acomincq,acoq,actq,add1,add2,add3,...,xoptepsqpy,xoptepsy,xoptq,xoptqp,xoptqpy,xopty,xrdq,xrdy,xsgaq,xsgay
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
data3 = data2.fillna(data2.median())

data3['*year'] = data3['mdate'].astype(str).str[0:4]
data3['*year'] = pd.to_numeric(data3['*year'])


data3 = data3._get_numeric_data()


data3 = data3.dropna(axis='columns')


Train = data3[data3['*year'] < 2016]
Test = data3[data3['*year'] >= 2016]

Train_Y = Train['spread5y']
Train_X = Train.drop('spread5y', axis=1)

Test_Y = Test['spread5y']
Test_X = Test.drop('spread5y', axis=1)

In [21]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 50)
forest_fit = rf.fit(Train_X, Train_Y)
predict_y = rf.predict(Test_X) 

print("Mean accuracy: ", forest_fit.score(Test_X, Test_Y))

('Mean accuracy: ', 0.36269592627605085)

In [23]:
from sklearn.ensemble import xgboost as xgb

xgb_100 = xgb.XGBRegressor(objective ='reg:linear',n_estimators = 100)


xgb_fit_100 = xgb_100.fit(new_Train_X, Train_Y)


print("The accuracy of the XGBoost is ", xgb_fit_100.score(new_Test_X, Test_Y))

ImportError: cannot import name xgboost